@model BCongelao.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <input type="hidden" asp-for="CreatedDate" />
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="ProductTypeId" class="control-label"></label>
                <select asp-for="ProductTypeId" class="form-control" asp-items="Html.GetEnumSelectList<BCongelao.Models.Enum.ProductType>()"></select>
                <span asp-validation-for="ProductTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control" asp-items="Html.GetEnumSelectList<BCongelao.Models.Enum.CategoryProduct>()"></select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Alcohol" /> @Html.DisplayNameFor(model => model.Alcohol)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ComercioId" class="control-label"></label>
                <select asp-for="ComercioId" class="form-control" asp-items="Html.GetEnumSelectList<BCongelao.Models.Enum.Comercio>()">
                    <option></option>
                </select>
                <span asp-validation-for="ComercioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ITBIS" class="control-label"></label>
                <input asp-for="ITBIS" class="form-control" />
                <span asp-validation-for="ITBIS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Envase" class="control-label"></label>
                <select asp-for="Envase" class="form-control" asp-items="Html.GetEnumSelectList<BCongelao.Models.Enum.Envase>()">
                    <option></option>
                </select>
                <span asp-validation-for="Envase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityUnit" class="control-label"></label>
                <input asp-for="QuantityUnit" class="form-control" />
                <span asp-validation-for="QuantityUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit" class="control-label"></label>
                <select asp-for="Unit" class="form-control" asp-items="Html.GetEnumSelectList<BCongelao.Models.Enum.UnidadMedida>()">
                    <option></option>
                </select>
                <span asp-validation-for="Unit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityUnit2" class="control-label"></label>
                <input asp-for="QuantityUnit2" class="form-control" />
                <span asp-validation-for="QuantityUnit2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit2" class="control-label"></label>
                <select asp-for="Unit2" class="form-control" asp-items="Html.GetEnumSelectList<BCongelao.Models.Enum.UnidadMedida>()">
                    <option></option>
                </select>
                <span asp-validation-for="Unit2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitsInStock" class="control-label"></label>
                <input asp-for="UnitsInStock" class="form-control" />
                <span asp-validation-for="UnitsInStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
